* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 226, 226);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 4rem;
  background-color: rgb(50, 167, 145);
}

/* TAMANHO DA IMAGEM */
.trybewarts-header-logo {
  width: 50px;
}

/* FORM HEADER  */
.trybewarts-login {
  display: flex;
  height: 2.5rem;
  gap: 15px;
}

/* INPUTS DO HEADER  */
.input-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* BUTTON DO HEADER  */
#button-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

main {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  gap: 50px;
}

#evaluation-form {
  display: flex;
  width: 50rem;
  flex-direction: column;
  padding: 15px;
}

/* IMAGEM DA TAG MAIN  */
#trybewarts-forms-logo {
  height: 32rem;
}

.container-input {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.input-form {
  width: 17rem;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  height: 30px;
  border-radius: 5px;
}

#house {
  width: 14.5rem;
  background-color: white;
}

#line-division {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

.section-questions {
  display: flex;
  height: 7rem;
}

#label-family{
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.list-input-radio {
  margin-top: 7px;
  list-style: none;
}

.list-input-radio > li {
  margin-top: 5px;
}

#label-content {
  display: flex;
  flex-direction: column;
}

.list-input-checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.label-input {
  padding: 10px;
}

.list-input-checkbox {
  padding-top: 10px;
}

.list-input-checkbox > li {
  margin: 3px;
}

.label-quetions {
  padd
}