* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 5rem;
  background-color: rgb(50, 167, 145);
}

/* TAMANHO DA IMAGEM */
.trybewarts-header-logo {
  width: 70px;
}

/* FORM HEADER  */
.trybewarts-login {
  display: flex;
  height: 2.5rem;
  gap: 15px;
}

/* INPUTS DO HEADER  */
.input-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* BUTTON DO HEADER  */
#button-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

/* IMAGEM DA TAG MAIN  */
#trybewarts-forms-logo {
  height: 500px;
}