* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 6rem;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 70px;
}

.trybewarts-login {
  display: flex;
  height: 2.5rem;
  gap: 15px;
}

.input-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#button-header {
  width: 8rem;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
}